/* CSS for Header */
header {
  background-color: #ca161c;
  display:block;

}

@media (min-width: 1280px) {
  
  .navbar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
  }

  .navbar__logo {
    display: flex;
    
  }

  .nav__top {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 10px
  }

  .nav__top a {
    color: white;
    padding: 0 5px;
    font-size: 12px;
    font-weight: 500;
    
  }

  .nav__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: capitalize;


  }

  .nav__bottom--item  {
    padding: 5px;
    border-radius: 2px;
    background-color: #ca161c;
    border: none;
    cursor: pointer;
    color: white;
    font-size:13px
  }

  .nav__bottom--item:hover {
    background-color: white;
    color: #ca161c;
    transition: all .35s;
    


  }

 

  /* START OF FOOTER SECTION */

  
}
