
body {
    background: url(/images/cloud-bg-3.c59c5fb1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(179, 208, 240);
    font-family: 'KoHo', 'sans-serif' !important;
}

main {
    padding-bottom: 80px;
}

.container-right {
    margin-left: 10%;
    width: 376px;
    height: auto;
    background: white;
    padding-left: 0%;
    padding-right: 0%;
}

.left-container {
    width: 790px;
}

.left-container img {
    width: 580px;
    height: 100px;
}

.infor {
    background: linear-gradient(359.2deg, #D91A21 53.08%, #6F0000 206.46%);
    text-transform: uppercase;
    color: white;
    height: 60px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}


.labelinfor {
    text-align: left;
    float: left;
    margin-top: 4%;
    margin-left: 3%;

}

.buttondetail {
    margin-top: 3%;
    margin-left: 15%;
    background: linear-gradient(31.2deg, #F9A51A -4.93%, #FBB612 18.27%, #FFDD00 71.59%);
    height: 25px;
    width: 80px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}


.infor .lablesum {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 10px;
}

.columnlable {
    height: 50px;
    background: rgb(232, 227, 227);
    border-radius: 5px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.columnlable .text {
    width: 100%;
    padding-left: 10px;
}

.trip {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    background-color: rgb(178, 221, 241);
    height: 30px;

}

.trip label {
    /* justify-content: center;

    align-items: center; */
    margin-top: 5px;
    margin-bottom: 5px
}

.trip-class {
    margin-top: 10px;
    /* padding-left: 10px; */
}


.tablisttotal {
    display: flex;
    justify-content: space-between;
}

.tablist {
    width: 50%;
    display: grid;
    justify-content: center;
    background: white;

}


.carouselControls {
    background: none !important;
}

.row img {
    width: 50px;
    height: 50px;
}

.row .hinh1 {
    background: rgb(213, 175, 103);
}

.row .hinh2 {
    background: rgb(189, 26, 26);
}

.row .hinh3 {
    background: rgb(221, 102, 17);
}

.row .hinh4 {
    background: rgb(72, 216, 11);
}

.timerow {
    background: linear-gradient(26.73deg, #F9A51A 13.7%, #FBB612 29.8%, #FFDD00 66.81%);
    margin-top: 5px;
    width: 27% !important;


}


.columnlable-new {
    padding: 10px;

}

.columnlable-new1 div {
    margin-top: 10px;

}

.date-flight {
    height: 90px;
    display: flex;
}

.cloud div {
    width: 160px;
}

.cloud label {
    margin-left: 15%;
    font-family: 'KoHo', 'sans-serif';
}

.date-flight i {
    background: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100%;
}

.clound-lable1 {
    margin-left: 30% !important;
    margin-top: 5%
}

.clound-lable2 {
    margin-left: 10%;
}

.date-flight {
    display: flex;
    justify-content: space-between;
}

/* .cloud {
background-color: linear-gradient(28.91deg, #F9A51A 2.24%, #FBB612 31.03%, #FBF300 97.21%);
background-image: url(cloud.png);
} */

.cloud.hidden {
    display: none;
}

#type1,
#type2,
#type3,
#type4 {
    width: 24%;
    cursor: pointer;
    display: flex;
    padding: 3px;
    background: #e9ecef;
    position: relative;
    align-items: center;
    margin-left: 2px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3px;
}

#type1 p,
#type2 P,
#type3 P,
#type4 p {
    font-size: 24px;
    line-height: 28px;
    font-family: 'JambonoMedium';
}

.timefly {
    font-size: 23px;
    font-weight: bold;
}

.codefly {
    font-size: 12px;
    line-height: 14px;
    color: #3C3C3C;
}
.footer-value{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-decoration: solid;
}
