* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #393c3f;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

article{
    width: 70%;
    float: left;
}

aside{
    width: 28%;
    float: right;
}

.gray{
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.green{
    color: rgb(0, 173, 0);
}
.text-white{
    color: white;
}

.text-center{
    text-align: center;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

ul li{
    list-style-type: none;
    padding: 5px 0 ;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: calc(100% / 3);
}

.col-half {
    width: calc(100% / 2);
}

.col-full {
    width: 100%;
}

.container{
    width: 90%;
    margin: auto;
}

.container-fluid{
    width: 80%;
    margin: auto;
}

.head{
    width: 100vw;
    line-height: 10vh;
}

.head-icon{
    float: left;
    width: 10vh;
    height: 10vh;
}

.title{
    border-radius: 10px;
    color: #000 !important;
    background-color: #DC143C;
    align-content: center;
    height: 10vh;
    line-height: 10vh;
}
/* drop */
.sub-1{
    margin-bottom: 20px;
}

.collapsible {
    background-color: #DC143C;
    color: #000 !important;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    align-content: center;
    height: 10vh;
    line-height: 10vh;
}


.main-content .active,
.collapsible:hover {
    background-color: #e60000;
}

.collapsible:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
}

.collapsible .active:after {
    content: "\2796";
}

.drop-content {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: max-height 0.2s ease-out;
}

/* drop1 */
.sub-2{
    margin-bottom: 20px;
}

.collapsible1 {
    background-color: #DC143C;
    color: #000 !important;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    align-content: center;
    height: 10vh;
    line-height: 10vh;
}


.main-content .active,
.collapsible1:hover {
    background-color: #DC143C;
}

.collapsible1:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
}

.active:after {
    content: '\02796';
}

.drop-content1 {
    display: none;
    overflow: hidden;
    background-color: #d9d9d9;
    transition: max-height 0.2s ease-out;
}

/* drop2 */
.sub-3{
    margin-bottom: 20px;
}

.collapsible2 {
    background-color: #e60000;
    color: #000 !important;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    align-content: center;
    height: 10vh;
    line-height: 10vh;
}


.main-content .active,
.collapsible2:hover {
    background-color: #e60000;
}

.collapsible2:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
}

.active:after {
    content: "\2796";
}

.drop-content2 {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: max-height 0.2s ease-out;
}


.main-content .icon-hehe{
    float: left;
    width: 10vh;
    height: 10vh;
}

/* side drop */
.collapsible-aside {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    align-content: center;
}

.aside-drop {
    display: none;
    overflow: hidden;
    background-color: #d9d9d9;
    transition: max-height 0.2s ease-out;
}

/* side drop1 */
.collapsible-aside1 {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    align-content: center;
}

.aside-drop1 {
    display: none;
    overflow: hidden;
    background-color: #d9d9d9;
    transition: max-height 0.2s ease-out;
}

/* side drop2 */
.collapsible-aside2 {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    align-content: center;
}


.aside-drop2 {
    display: none;
    overflow: hidden;
    background-color: #d9d9d9;
    transition: max-height 0.2s ease-out;
}


/* Frame 2 payments */
.payments-content .box{
    position: relative;
}
.payments-content .box .rdoIn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.payments-content tr th{
    color: #e60000;
    font-size: 1.3rem;

}

.payments-content p{
    padding: 10px 0;

}



ul .horizontal{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.place-content .place-img {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px 10px 0 0;
}

.place-content .place-img:hover {
    opacity: 0.6;
}


.place-body {
    width: 100%;
    background-color: #e60000;
    margin: 0;
    padding: 15px;

}



.place-body .sub-place {
    margin: 15px 0;
    opacity: 0.7;
}

/* Frame 3 - Bill-Content */
.bill-content a{
    text-decoration: none;
}
.bill-content a:hover{
    text-decoration: none;
}

/* Frame 4 - Flight Info */
.flinfo-content table td {
    padding: 10px !important;
    font-size: 2.5vh;
}

/* Frame 6 - Accept */
.text-divider {
    --text-divider-gap: 1rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.text-divider::before,
.text-divider::after {
    content: '';
    height: 1px;
    background-color: silver;
    flex-grow: 1;
}

.text-divider::before {
    margin-right: var(--text-divider-gap);
}

.text-divider::after {
    margin-left: var(--text-divider-gap);
}

.accept {
    display: flex;
    flex-direction: column;
    min-height: 45vh;
    padding: 2rem;
}
.accept ul{
    font-size: 1.2rem;
}
.accept ul li{
    padding: 40px 0;
}

.accept a{
    text-decoration: none;
}
.accept a:hover{
    color: white;
    background-color: #025220 !important;
    text-decoration: none;
}

/* Frame 8 - Billing Info */
.billInf-content table td {
    text-align: center;
    padding: 5px !important;
}

.billInf-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

/* Frame 9 - Payments Method */
.paymethod-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dad8d9;
}

.paymethod-content li {
    float: left;
    border-right: 1px solid #bbb;
    padding: 0px !important;
}

.paymethod-content li:last-child {
    border-right: none;
}

.paymethod-content li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.paymethod-contentli a:hover:not(.active) {
    background-color: #e60000;
    color: white;
}

.paymethod-content .text-center a{
    text-decoration: none;
    margin: 20px;
}

.paymethod-content .active {
    background-color: #e60000;
    color: white;
}

.introduce table td {
    text-align: center;
    padding: 15px !important;
}

.flight-1{
    margin-top: 30px;
}
.drop1{
    padding: 10px;
}

/* custom checkbox */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}


.checkbox-container input:checked ~ .checkmark {
    background-color: #e60000;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
