.form__header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 10px 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  align-items: center;
  position:relative;
}

.form-title {
  margin: 10px 0 10px 0;
  font-weight: 500;
}

.form__container--user--type {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.user--type {
  margin-left: 10px;
}

.form__container--view-more .btn__view-more{
  border: none;

}

.btn__view-more:active{
  border: none;
  transform: rotate(180deg);
}

#form__container {
  /* position: absolute; */
  background-color: #fff;
}

.gender__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.form--gender {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 20px 0 20px
}
.user__information__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.show {
  display: block;
}
.user__information__container--input {
  padding: 10px;
  margin: 10px;
  width:40%;
  border: none;
  border-bottom: 1px solid gray;
}

.user__information__container--input:invalid {
  padding: 10px;
  margin: 10px;
  width:50%;
  color: red;
  border: none;
  border-bottom: 1px solid red;
}

.full-width {
  width: 100%;
}